.header {
    &__logo {
        img {
            @include adaptiv-value('width', 80, 50, 1);
            height: auto;
        }
    }
    &__top {
        > .header__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 20px 0;
        }
        h2 {
            text-align: center;
            @media (max-width: $tablet) {
                @include adaptiv-value('font-size', 24, 18, 1);
                line-height: 150%;
            }
        }
    }
    &__body {
        background: #f7f7f7;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        @media (max-width: 1100px) {
            padding: 10px 0;
        }
    }
    &__nav {
        display: flex;
        @media (max-width: 1100px) {
            box-shadow: 0px 0px 30px rgba(159, 159, 159, 0.15);
            flex-direction: column;
            gap: 30px;
            position: fixed;
            right: -90%;
            width: 90%;
            height: 100%;
            background-color: #fff;
            z-index: 4;
            transition: 0.3s;
            &.active {
                right: 0;
            }
        }
        .nav-list {
            display: flex;
            height: 60px;
            @media (max-width: 1100px) {
                flex-direction: column;
                gap: 20px;
                padding-top: 20px;
                height: auto;
            }
            &__item {
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                @include adaptiv-value('padding-left', 20, 12, 1);
                @include adaptiv-value('padding-right', 20, 12, 1);
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
                transition: 0.3s;
                display: flex;
                gap: 5px;
                width: fit-content;
                text-align: center;
                cursor: pointer;
                @media (max-width: 1100px) {
                    border: none;
                    padding-left: 20px;
                }
                &.with-submenu {
                    position: relative;
                }
                span {
                    @include adaptiv-value('font-size', 18, 16, 1);
                    transition: 0.3s;
                }
                &.icon-item {
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    width: fit-content;
                    @media (max-width: 1100px) {
                        border: none;
                    }
                    a {
                        @include adaptiv-value('font-size', 24, 18, 1);
                    }
                }
                > a {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 0.1em;
                }
                .sublist {
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    z-index: 10;
                    max-height: 0;
                    overflow: hidden;
                    transition: 0.3s ease-in-out;
                    &__item {
                        @include adaptiv-value('padding', 15, 10, 1);
                        background-color: #f7f7f7;
                        transition: 0.3s;
                        &:not(:last-child) {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        }
                        a {
                            font-size: 12px;
                            transition: 0.2s;
                        }
                        &:hover {
                            a {
                                padding-left: 5px;
                            }
                        }
                    }
                }
                &.open-submenu {
                    .icon-arrow_down {
                        transform: rotate(180deg);
                    }
                    .sublist {
                        max-height: 320px;
                        overflow: auto;
                    }
                }
            }
        }
        .language {
            position: relative;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0 10px;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            display: flex;
            cursor: pointer;
            transition: 0.3s;
            @media (max-width: 1100px) {
                padding-left: 20px;
            }
            &:hover {
                .language-current {
                    span {
                        transform: rotate(180deg);
                    }
                }
                .language-list {
                    top: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
            &-current {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .current {
                    font-size: 14px;
                    font-weight: 600;
                }
                span {
                    font-size: 18px;
                    transition: 0.3s;
                }
            }
            &-list {
                position: absolute;
                top: 120%;
                right: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                z-index: 10;
                transition: 0.3s;
                li {
                    padding: 15px 5px;
                    background-color: #f7f7f7;
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
    &-bottom {
        background: linear-gradient(
            90.21deg,
            #ff6262 -5.4%,
            rgba(255, 86, 86, 0.856562) 58.7%,
            rgba(255, 176, 176, 0.73) 123.2%
        );
        .header__container {
            padding: 20px 15px;
            display: flex;
            gap: 10px;
        }
        &__nav {
            display: flex;
            align-items: center;
            gap: 10px;
            li {
                position: relative;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 10px;
                padding: 15px 18px;
                background: #ffffff;
                border-radius: 4px;
                transition: 0.3s;
                &:hover {
                    color: #fff;
                    background: linear-gradient(
                        90.21deg,
                        #ff6262 -5.4%,
                        rgba(255, 86, 86, 0.856562) 58.7%,
                        rgba(255, 176, 176, 0.73) 123.2%
                    );
                    a {
                        color: #fff;
                    }
                }
                a {
                    font-size: 14px;
                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        inset: 0;
                    }
                }
            }
        }
        &__search {
            width: min(338px, 100%);
            background-color: #fff;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            .search {
                height: 60%;
                display: block;
                border: none;
                outline: none;
                font-size: 14px;
            }
        }
    }
    &.sticky {
        position: sticky;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        animation: fixedHeader 0.4s;
        z-index: 5;
    }
}

@keyframes fixedHeader {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

.desktop {
    display: block;
    &--small {
        display: none;
    }
    @media (max-width: 1100px) {
        display: none;
        &--small {
            display: block;
        }
    }
}

.header-bottom {
    &.desktop--small {
        margin-top: 30px;
        .header__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .header-bottom__nav {
            order: 2;
            flex-wrap: wrap;
            justify-content: center;
        }
        .header-bottom__search {
            width: 100%;
        }
    }
    background: linear-gradient(
        90.21deg,
        #ff6262 -5.4%,
        rgba(255, 86, 86, 0.856562) 58.7%,
        rgba(255, 176, 176, 0.73) 123.2%
    );
    .header__container {
        padding: 20px 15px;
        display: flex;
        gap: 10px;
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 10px;
        li {
            position: relative;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 10px;
            padding: 15px 18px;
            background: #ffffff;
            border-radius: 4px;
            transition: 0.3s;
            &:hover {
                color: #fff;
                background: linear-gradient(
                    90.21deg,
                    #ff6262 -5.4%,
                    rgba(255, 86, 86, 0.856562) 58.7%,
                    rgba(255, 176, 176, 0.73) 123.2%
                );
                a {
                    color: #fff;
                }
            }
            a {
                font-size: 14px;
                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    inset: 0;
                }
            }
        }
    }
    &__search {
        width: min(338px, 100%);
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        .search {
            height: 60%;
            display: block;
            border: none;
            outline: none;
            font-size: 14px;
        }
    }
}
