<header class="header">
    <div class="header__top header-top">
        <div class="header__container">
            <a href="/" class="header__logo">
                <img src="@img/logo.png" alt="logo" />
            </a>
            <h2>Centrul național de transfuzie a sângelui</h2>
            <a href="/" class="header__logo">
                <img src="@img/stema.png" alt="stema" />
            </a>
        </div>
    </div>

    <div class="header__body header-body">
        <div class="header__container">
            <nav class="header__nav">
                <ul class="nav-list">
                    <li class="nav-list__item icon-item">
                        <a href="/" class="icon-home"></a>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <button href="#">Despre noi</button>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="../structure.html">Structura</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Direcţiile principale de activitate, sarcini și obiective</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../security.html">Securitatea datelor cu caracter personal</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <button href="#">transparență</button>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="#">Integritate</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Achiziții publice</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Rapoarte activitate</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Deplasări de serviciu</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Proiecte supuse consultării publice</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Funcții vacante</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <button href="#">legislație</button>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="#">Actele legislative ale Republicii Moldova</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Actele Ministerului Sănătății ce reglementează activitatea de donare și transfuzie de sânge</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Programul național “Securitatea transfuzională, autoasigurarea țării cu produse sanguine”</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <button href="#">Pentru donatori de sânge</button>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="#">Sângele şi originea lui</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../blood-group.html">Grupele de sânge</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../laws.html">Drepturile şi Obligaţiile Donatorilor</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../donor.html">Cine poate fi donator</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../what-to-do.html">Ce trebuie să faceţi înainte, în timpul şi după donare</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../faq.html">Întrebări frecvente</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <button href="#">Pentru specialiști</button>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="../faq.html">Componente sanguine</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../biomedical.html">Produse biomedicale sanguine</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Lista serviciilor medicale acordate populației în cadrul sistemului de asigurări obligatorii de asistență medicale</a>
                            </li>
                            <li class="sublist__item">
                                <a href="../seminare.html">Seminare</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item with-submenu">
                        <button href="#">noutăți</button>
                        <span class="icon-arrow_down"></span>
                        <ul class="nav-list__sublist sublist">
                            <li class="sublist__item">
                                <a href="../news.html">Știri</a>
                            </li>
                            <li class="sublist__item">
                                <a href="#">Articole de promovare</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item">
                        <a href="#">Contacte</a>
                    </li>
                </ul>
                <div class="language">
                    <div class="language-current">
                        <div class="current">RO</div>
                        <span class="icon-arrow_down"></span>
                    </div>
                    <ul class="language-list">
                        <li class="language-list__item">EN</li>
                        <li class="language-list__item">RU</li>
                    </ul>
                </div>
            </nav>

            <button type="button" class="burger">
                <span></span>
            </button>
        </div>
    </div>

    <div class="header__bottom header-bottom desktop">
        <div class="header__container">
            <ul class="header-bottom__nav">
                <li>
                    <span class="icon-calendar"></span>
                    <a href="#">Programare donare sânge</a>
                </li>
                <li>
                    <span class="icon-review"></span>
                    <a href="#">Evaluare grad de satisfacție</a>
                </li>
                <li>
                    <span class="icon-question"></span>
                    <a href="#">Întrebări frecvente</a>
                </li>
                <li>
                    <span class="icon-text"></span>
                    <a href="#">Depune petiție / sugestie</a>
                </li>
            </ul>
            <div class="header-bottom__search">
                <input type="text" class="search" placeholder="Caută" />
                <span class="icon-search"></span>
            </div>
        </div>
    </div>
</header>

<div class="header__bottom header-bottom desktop--small">
    <div class="header__container">
        <ul class="header-bottom__nav">
            <li>
                <span class="icon-calendar"></span>
                <a href="#">Programare donare sânge</a>
            </li>
            <li>
                <span class="icon-review"></span>
                <a href="#">Evaluare grad de satisfacție</a>
            </li>
            <li>
                <span class="icon-question"></span>
                <a href="#">Întrebări frecvente</a>
            </li>
            <li>
                <span class="icon-text"></span>
                <a href="#">Depune petiție / sugestie</a>
            </li>
        </ul>
        <div class="header-bottom__search">
            <input type="text" class="search" placeholder="Caută" />
            <span class="icon-search"></span>
        </div>
    </div>
</div>
