.donor {
    &__block {
        margin-bottom: 50px;
        p {
            color: #4F5256;
        }
    }
    .list-block {
        ul {
            li {
                margin-bottom: 20px;
            }
        }
    }
}